.BackgroundContainer {
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.HeaderContainer {
    width: 100vw;
    height: 16vh;
    background-color: #004879;
    justify-content: center;
}
.BodyContainer {
    width: 100vw;
    height: 68vh;
    background-color: #ffffff;
}
.SignInContainer {
    width: 20vw;
    height: 55vh; 
    display: flex;
    flex-direction: column;
    padding-top: 2vh;
    padding-bottom: 5vh;
    background-color: #D9D9D9;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}
.SignInHeaderContainer {
    text-align: left;
    width: 16vw;
    height: 4vh;
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
}
.UserNameContainer {
    width: 20vw;
    height: 14vh;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
}
.PasswordContainer {
    width: 20vw;
    height: 14vh;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
}
.LabelText {
    height: 3vh;
    width: 16vw;
    color: black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.Input {
    height: 5vh;
    width: 16vw;
    border-radius: 6px;
    background-color: white;
    border-color: transparent;
    margin-left: auto;
    margin-right: auto;
}
.ButtonContainer {
    width: 20vw;
    height: 9vh;
    margin-top: 3vh;
}
.SignInButton {
    width: 16vw;
    height: 4vh;
    background-color: #218B52;
    color: white;
    border-color: transparent;
    border-radius: 16px;
    cursor: pointer;
}

.FooterContainer {
    width: 100vw;
    height: 10vh;
    background-color: #D9D9D9;
    text-align: center;
    color: black;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}