.userdashboard {
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column
}

.dashboardTop {
   width: 90vw;
   height: 45vh;
   display: flex;
   flex-direction: row;
   margin: auto;
   justify-content: space-between;
}

.dashboardBottom {
   width: 80vw;
   height: 50vh;
   display: flex;
   flex-direction: row;
   margin: auto;
   align-items: center;
   justify-content: center;
}

.accountContainer {
   display: flex;
   flex-direction: column;
   width: 30vw;
   justify-content: center;
   align-items: center;
   

}

.accountContainer img {
   max-width: 10vw;
   height: auto;

   
}


.btn {
   background-color: #004977;
   border: none;
   color: white;
   padding: 12px 30px;
   cursor: pointer;
   font-size: 20px;
   width: 20vw;
   border-radius: 50px;
   
 }

 .investerbtn {
   background-color: #20587a;
   border: none;
   color: white;
   padding: 12px 30px;
   font-size: 20px;
   width: 15vw;
   border-radius: 50px;
 }

 .transactionscat {
   display: flex;
   flex-direction: column;


   margin-bottom: 2vh;
 }
 .cardbtn {
   background-color: #377da8;
   border: none;
   color: white;
   padding: 32px 30px;
   font-size: 20px;
   width: 15vw;
   border-radius: 50px;
   margin-top: 2vh;
 }

 .localBusinessIcon {
   height: 9vh;
   width: auto;
 }

 .balance {
   background-color: #b7c5d4;
   right: 0;
   height: 30vh;
   width: 50vw;
   text-align: center;
   font-size: xx-large;
   margin-top: 8vh;
 }

 .balanceheader {
   background-color: #64c070;
   display: flex;
   align-items: center;
   height: 8vh;
   color: white;
   font-size: large;
 }

 .balancelogo {
   margin: auto;
 }

 .accountinvester{
   background-color: #b7c5d4;
   height: 46vh;
   width: 70vw;
   overflow-y: auto;

 }

 .accountinvesterheader {
   background-color: #c55955;
   display: flex;
   align-items: center;
   height: 10vh;
   color: white;
 }

 .accountinvestersubsections {
   margin-top: 2vh;
   display: flex;
   justify-content: space-around;
 }

 .localBusinessCard {
   display: flex;
   flex-direction: row;
   background-color: #377da8;
   border: none;
   color: white;
   padding: 7px 30px;
   font-size: 20px;
   width: 15vw;
   border-radius: 50px;
   margin-top: 2vh;
   justify-content: space-around;

 }

 .localBusinessCard h1 {
   font-size: 20px;
   color: white;

 }