.marketplace {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: absolute;

}


.totalcontainer {
    display: flex;
    flex-direction: row;
}

.marketplaceleftcontainer {
    width: 25vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(172, 19, 19);
    justify-content: flex-start;
    align-items: center;
    
}

.marketplacerightcontainer {
    width: 75vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.marketplacelocation {
    display: flex;
    flex-direction: row;
    margin: 5vh;
}

.marketplacescroll {
    overflow-y: auto;
    display: flex;
    flex-direction: column
}

.marketplacesearch {
    margin: 3vh;
}

.marketplacesearch input {
    width: 22vw;
    height: 7vh;
    border-radius: 1vw;
}

.marketplacecheckbox {
    margin: 10vh;
    font-size: large;
}

.allcheckboxes {
    width: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}

.allcheckboxes input {
    border-color: black;
    border-width: 10px;
}

.marketplacelocation form {
    width: 45vw;
    height: 10vh;
    background-color: rgb(44, 36, 36);
    display: flex;
}

.marketplacelocation form input {
    flex: 1;
    border: none;
    outline: none;
    background: rgb(203, 203, 189);
    text-align: center;
    font-size: medium;
}

.marketplacelocation form button {
    background: tomato;
    padding: 10px 50px;
    border: none;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    height:10vh;
    width: 9.5vw;
    border: none;
    margin-left: 20vh;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 20vh;
  }
  
  /* Links inside the dropdown */
  .dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content p:hover {
    background-color: #ddd;
    cursor: pointer;
}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  .show {display:block;}

  hr.solid {
    border-top: 3px solid #bbb;
  }